<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Product Listings</title>
  </head>
  <body>
    <!-- product listings -->
    <div class="productList">
      <% products.forEach(function(product){ %>
      <ul class="product">
        <li class="productId"><%= product._id %></li>
        <li class="productName"><%= product.name %></li>
        <li class="productDescription"><%= product.description %></li>
        <li class="productPrice"><%= product.price %></li>
      </ul>
      <% }); %>
    </div>
  </body>
</html>
